table tr {
  &:nth-child(even) td {
    height: 40px;
  }

  &:nth-child(odd) td {
    height: 4px;
  }

  td {
    width: 4px;
    border-radius: 99vw;
    transition:
      background-color 0.5s,
      box-shadow 0.5s;

    &:nth-child(2) {
      width: 40px !important;
    }

    &.on {
      background-color: red;
      box-shadow: 0 0 8px 2px red;
    }
    &.off {
      background-color: transparent;
    }
  }
}
