.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 32px;
  border-radius: 24px;
  gap: 16px;
}
.face {
  display: flex;
  gap: 1px;
  align-items: center;

  .divider {
    &::after {
      content: ":";
      font-size: 60px;
      font-family: "Courier New", Courier, monospace;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .dot {
    &::after {
      content: ".";
      font-size: 40px;
      font-family: "Courier New", Courier, monospace;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
