<div class="container">
  <div class="header">
    <button (click)="prevMonth()">←</button>
    <h2>{{ dateLocaleString() }}</h2>
    <button (click)="gotoToday()">Today</button>
    <button (click)="nextMonth()">→</button>
  </div>
  <table>
    <thead>
      <tr>
        <th
          *ngFor="let day of getWeekdayNames()"
          [class]="{ today: day.isToday }"
        >
          {{ day.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of selectedMonth()">
        <td
          *ngFor="let day of week"
          [class]="{
            'other-month': !day.currentMonth,
            today: day.isToday,
          }"
        >
          {{ day.date }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
