form {
  display: flex;
  gap: 12px;
}
label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.animated {
  display: grid;
  grid-template-columns: repeat(5, 133px);
  justify-content: center;
  margin-block: 16px;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;

  gap: 16px;
  padding: 12px;
}

.logo {
  transition: transform 0.6s;
  &:hover {
    transform: scale(1.1);
  }
  a {
    display: flex;
    flex-direction: column;
    align-items: center;

    .image {
      display: flex;
      width: 123px;
      height: 123px;
      border: 1px solid #444;
      border-radius: 9999px;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
}
