<nav>
  <ul>
    <li><a routerLink="/calendar" routerLinkActive="active">Calendar</a></li>
    <li><a routerLink="/weather" routerLinkActive="active">Weather</a></li>
    <li>
      <a routerLink="/typography" routerLinkActive="active">Typography</a>
    </li>
    <li>
      <a routerLink="/weight-tracker" routerLinkActive="active">
        Weight Tracker
      </a>
    </li>
    <li><a routerLink="/spotify" routerLinkActive="active">Spotify</a></li>
    <li><a routerLink="/logos" routerLinkActive="active">Logos</a></li>
  </ul>
</nav>
