<div class="digital-clock container">
  <div class="face">
    @if (time$ | async; as time) {
      <label>
        <input type="checkbox" (click)="setHour12($event)" #check24 />
        Switch to {{ check24.checked ? "24" : "12" }} Hr
      </label>
      <digit [value]="+time.h[0]" />
      <digit [value]="+time.h[1]" />
      <div class="divider">:</div>
      <digit [value]="+time.m[0]" />
      <digit [value]="+time.m[1]" />
      <div class="divider">:</div>
      <digit [value]="+time.s[0]" />
      <digit [value]="+time.s[1]" />
      <pre class="period">{{
        time.period ? "•" + time.period : "&nbsp;&nbsp;&nbsp;"
      }}</pre>
    }
  </div>
</div>
