<div class="digital-clock container">
  <div class="face">
    <label [class]="{ on: check24.checked }">
      <input type="checkbox" (click)="setHour12($event)" #check24 />
      Switch to {{ check24.checked ? 24 : 12 }} Hr
    </label>
    @if (time$ | async; as time) {
      @for (val of time.h; track $index) {
        <digit [value]="+val" />
      }
      <div class="divider"></div>
      @for (val of time.m; track $index) {
        <digit [value]="+val" />
      }
      <div class="divider"></div>
      @for (val of time.s; track $index) {
        <digit [value]="+val" />
      }
      <pre class="period">{{
        time.period ? "•" + time.period : "&nbsp;&nbsp;&nbsp;"
      }}</pre>
    }
  </div>
</div>
